
@media (min-width: 980px) {
.forminput {
    width: 35 rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius:0.5rem ;
}
.formSelect {
    width: 25rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius:0.5rem ;
    margin-left: 0.4rem;
    border-width:0.16rem;
}

/* .forminput:nth-child(5){
    width: 5rem;
} */

/* label {
    margin-right: 0.8rem;
    font-weight: 500;
} */

.formtext {
    border-width: 0.15rem;
    width: 24.8rem;
    /* height: 3rem; */
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius:0.5rem ;
    margin-left: 0.4rem;
}

.next{
    border: solid 1px;
    cursor: pointer;
    width: 24.8rem;
    /* align-items: center; */
    text-align: center;
    height:3rem;
    border-radius: 15px;
    background-color: rgb(144, 255, 144);
    padding-top: 1rem;
    font-weight: 700;
    margin-left: 0.7rem;
}
.next:hover{
    border-color: #198754;
    box-shadow: 1px 1px 2px rgba(224, 255, 49, 0.6), 0 0 4px rgba(224, 255, 49, 0.6), 0 0 8px rgba(224, 255, 49, 0.6);
}


    .next:active{
        color: white;
        background-color: #198754;
    }
/* .next > span{

    text-align: center;
    vertical-align: middle;
    padding-top: 0.5rem;
} */

.textLabels {
        margin-left: 0.4rem;
        margin-bottom: 0.3rem;
        font-weight: 500;
}

.logintext{
    font-size:1.3rem;
text-align: center  ;
}

.loginlink {
    text-decoration: underline;
    color: blue;
}
}
@media (max-width: 980px) {
.wrap{

    display: flex;
    flex-direction: column;
}
.forminput{
    height: 2rem;
       font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius:0.5rem ;

}
.formSelect{
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius:0.5rem;
    border:solid 2.9px;
}
.formtext{
    width: 100%;
    margin-bottom: 1rem;
}
}