/* .weeksContainer {
  background-color: rgba(58, 87, 75,1);
} */

@media screen and (min-width: 900px){
    .postTask {
    width: 70%;
margin: auto;

}
}



.headerWeek{
      display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerWeek{

  margin: 30px auto;
  overflow: auto;
  min-height: 50px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.basiContainer {
  /* max-width: 500px; */
  margin: 30px auto;
  overflow: auto;

  /* min-height: 300px; */
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.containerone {
  /* max-width: 500px; */
  margin: 30px auto;
  overflow: auto;
  min-height: 50px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.weekHeader:hover{
  cursor: pointer;
}

.headerAddDay{
      display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.weekDelete{
      display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.weekDelete:hover{
      display: inline-block;
       box-shadow: 1px 1px 2px rgba(5, 5, 5, 0.6), 0 0 4px rgba(0, 0, 0, 0.6), 0 0 8px rgba(0, 0, 0, 0.6);

  background: rgba(255, 0, 0, 0.808);
  color: #fff;
  border: none;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btnTask{
      display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btnAdd{
      display: inline-block;
  background: rgba(0, 167, 8, 0.8);
  color: #fff;
  border: none;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btnAddWeek{
  margin-top: 1rem;
      display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btnAdd:hover{
  background-color: rgba(81, 255, 81, 0.7);
  box-shadow: 1px 1px 2px rgba(224, 255, 49, 0.6), 0 0 4px rgba(224, 255, 49, 0.6), 0 0 8px rgba(224, 255, 49, 0.6);
}
.btnTask:hover{
  /* background-color: rgba(81, 255, 81, 0.7); */
  box-shadow: 1px 1px 2px rgba(224, 255, 49, 0.6), 0 0 4px rgba(224, 255, 49, 0.6), 0 0 8px rgba(224, 255, 49, 0.6);
}

.btnTask:focus {
  outline: none;
}

.btnTask:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}


.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.header_day {

  margin: 5px;
  padding: 20px 20px;
  cursor: pointer;
}

.task.reminder {
      box-shadow: 1px 1px 2px rgba(0, 73, 12, 0.6), 0 0 4px rgba(0, 73, 12, 0.6), 0 0 8px rgba(0, 73, 12, 0.6);
  border-left: 5px solid rgba(224, 255, 49, 0.6);
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_day h3 {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;

}

.exerciseSelect{
  margin: 20px 0;
    width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.headerAddDay{
  cursor: pointer;

}

.toggleWrapper{
  /* height: 0;
  display:none; */
  /* transition: height ease 1s; */
  /* background: lightgray; */
  /* overflow: hidden; */
  /* height: auto; */
  /* display: contents; */
}

.transition-enter, .transition-appear {
  opacity: 0.01;
  transform: translate(0, -30px);

  /* background-color: rgba(58, 87, 75,1); */
}
.transition-enter-active, .transition-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;

}
.transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.transition-exit-active {
  opacity: 0.01;
  transform: translate(0, 30px);
  transition: all 500ms ease-in;

}

/* .toggleWrapper.element{

} */


.headerAddDayNone{
  display:none;
}

@media screen and (max-width: 900px){
    .postTask {
    width: 100%;
margin: auto;

}
 .task {
  font-size: 1rem;
  width: 100%;
  margin:0px 0px 7px;
  padding:0.3rem 0.5rem;
}
.task h3 {
  font-size: 1rem;
}
.headerAddDay h2 {
  margin: auto;
  border-bottom: 1px solid red;
  padding-left: 1rem;
}
.dayContainer{
  /* height: 100px; */
}
.dayContainer{
  /* height: auto; */
}
.weeksContainer{
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 1px 3px rgba(224, 255, 49, 0.6), 0 0 6px rgba(224, 255, 49, 0.6), 0 0 9px rgba(224, 255, 49, 0.6);

}
.weeksContainer:hover{
  box-shadow: 1px 1px 3px rgba(0, 70, 46,0.6), 0 0 6px rgba(0, 70, 46,0.6), 0 0 9px rgba(0, 70, 46,0.6);
}
.task p {
  text-align: center;
}
}

