/* .posts {
    position: sticky;
    width: 100%;
    text-align: center;
    flex: 0.8 ;
        overflow-wrap:initial;

    white-space: pre-line;
} */


@media screen and (max-width: 900px){

    .posts{
        display: flex;
    flex-direction: column;
    width: 100%;
      margin: auto;
    }


}
