.inputs {

    display: inline-flex;
    /* position: absolute; */
    align-items: center;
}

.onSelectTest{
        align-items: center;
        text-align: center;
        width: 10rem;
        margin:0.5rem;
        font-size: 0.7rem;
        font-size: 1rem;
    }

.subinputs {

    display: inline-flex;
    /* position: absolute; */
    align-items: center;
}
.allspace {
    width: 100%;
}

.labelTitle {
    text-align: center;
    color: antiquewhite;
}

@media (max-width: 980px) {
    .wrap h1{
        text-align: center;
        color: aliceblue;
    }
    .forminput{
        align-items: center;
        text-align: center;
        width: 100%;
        font-size: 0.7rem;
    }
    .labelTitle{
        text-align: center;
    }
.formRow{
    margin-left: 0rem!important;
}
.btnform{
    height: 2rem;
    font-size: 1rem;
    border: 1px solid;
}
.btnform:hover{
     box-shadow: 1px 1px 3px rgba(224, 255, 49, 0.6), 0 0 6px rgba(224, 255, 49, 0.6), 0 0 9px rgba(224, 255, 49, 0.6);

}
.nestedInputs{
        min-width: 100%;
    min-height: 100%;
    margin:0;

}
.subinputs{
     /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
        min-width: 100%;
    min-height: 100%;
    margin:0;

}
    /* position: absolute; */
    /* align-items: center; */

}


/* .forminput {
    width: 25rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius:0.5rem ;
} */

/* .registration > form > button {
    width: 35 rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius:0.5rem ;
    color: lemonchiffon;
    background-color: rgb(0, 182, 24);
} */

.logintext{
    font-size:1.3rem;
text-align: center  ;
}

.loginlink {
    text-decoration: underline;
    color: blue;
}