header {
        position: sticky;
    top: 0;
}

.navbar{
    margin-left: 5 rem;

}
.burger{
    margin-right: 0.7rem;
}

.brand-image{

    height: 50px;
    width: 70px;
}

.submenu{
        display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
    }

.btnlink{
    font-size: 1rem ;
    background-color: rgb(28, 29, 28);
}

/* .btnlink :hover{
    background-color: rgba(58, 87, 75,1) !important;
    color: red !important;


} */

ul{
    display: flex;
    list-style-type:none;
}
.nav_burger{
    display: none;
}

@media (max-width: 980px) {
    .pc_display{
        display: none;
    }
    .navmenu{
        display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
    }
    .submenu{
        display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
    }
    ul {
        display: flex;
        padding-left: 0;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
		justify-content: space-between;
		align-items: center;
		text-align: center;
    }
}
.navigation-bar{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}