.profilePage{
    display:flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;
    width:100%;
         flex-wrap: wrap;

  position:absolute;
}

.profile_body{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
     flex-wrap: wrap;
  flex-direction: row;
  position:absolute;
  white-space: nowrap;
    background-color: aquamarine;

}
.callToActions {
    margin-left: 1rem;
    display: flex;
    width: 100%;
    /* flex:0.2; */
    justify-content: space-between;
}

form {
text-align: center;
}
.formRow{
    margin-left: 0.4rem;
}

.btnPopup {
    margin-top: 0.5rem;
    padding-left: 0;
    margin: auto;
}
.btnedit{
    width: auto;
padding-left: 1rem;
padding-right: 1rem;
font-weight: 300;
height: 2rem;
font-size: 1.2rem;
}

/*
.userProfile{
    justify-content:start;
}

.profile_body > .userPosts{
    justify-content: center;
}

.profile_body > .userCalendar{
    justify-content: end;
} */