.wrapper{
  /* bottom: 0; */
  margin-top: 10rem;
  /* margin-top: auto; */
  /* margin-top: auto;
position:absolute;
    width:100%;
    bottom:0px; */
}

.footer {
  /* margin-top: 1rem; */
  /* margin-top: auto;
position:absolute;
    width:100%;
    bottom:0px; */
  color: aliceblue;
  padding: 1rem;
  background-color: rgb(70, 70, 70);

  /* bottom: 0; */
  /* left: 0; */
  /* width: 100%; */
}