html {
    font-size: 1 rem;
        position: relative;
    min-height: 100%;
}


/* html,
body,
.fullHeight {
    height: 100%;
    padding: 0;
    margin: 0;
        min-height: 100vh;
    display: flex;
    flex-direction: column;
} */
header, hgroup, menu {
	display: block;
}

footer{
    display: flex;
}

/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

body{
    /* font-family: 'Open Sons', sons-serif; */
    /* font-size:1.8rem; */
    /* font-weight:400; */
    line-height: 1;
    display: block
}

.Link{
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:inherit;
}

.profileViewPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.beforeFooter{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

