.changeDay:hover{
    color: red;

}
.changeDay:active{
    color: greenyellow;

}
.user{

    display: flex;
    position: initial;
    width: 99%;
    font-size: 1rem;
    border:ridge;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}


.userLine:nth-child(odd) .user{
  background-color: lightgray;

}
span{
    padding-top: 0.5rem;

}
span:last-child{
    margin-right: 0.5rem;

}
label{
    margin-left: 0.2rem;
}
/* .userLine:nth-child(even){
  background-color: lightgray;

} */

/* .thumb{
    padding-top: 0.3rem;
} */
