.layout{
   min-height: 100%;
    display: flex;
    flex-direction: column;

}

.navBar{
    flex-shrink: 0;
}
.footerLayout{
flex-shrink: 0;
position: relative;
}

.props{
    min-height: 100vh;
flex-grow: 1;
}
