.addCourse{
    display: flex;
    flex-direction: column;
}
.addCourse .form {
    display: flex;
    flex-direction: column;
}

#description{
    padding-top:3rem ;
    padding-bottom:3rem ;
}

.btnPrograms{
        justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s
}

.btnPrograms:hover{
    cursor: pointer;
    background-color: rgb(197, 197, 197);
     box-shadow: 1px 1px 3px rgba(224, 255, 49, 0.6), 0 0 6px rgba(224, 255, 49, 0.6), 0 0 9px rgba(224, 255, 49, 0.6);
}