.addCourse{
    display: flex;
    flex-direction: column;
}
.addCourse .form {
    display: flex;
    flex-direction: column;
}

#description{
    padding-top:3rem ;
    padding-bottom:3rem ;
}

.btnPrograms{
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s
}

.btnPrograms:hover{
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    box-shadow: 1px 1px 3px rgba(224, 255, 49, 0.6), 0 0 6px rgba(224, 255, 49, 0.6), 0 0 9px rgba(224, 255, 49, 0.6);
}
.coursesHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
    display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    overflow: hidden;


    font-family: roboto;
    border-radius: 18px;
    background-color: aliceblue;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition:0.5s ease;
    cursor: pointer;
}


@media screen and (min-width: 901px){

.card{
    margin:2rem;
}
.card:nth-child(even){
    padding-bottom: 1rem;
}
}


.courses:hover .card:nth-child(even){
    /* margin-bottom: 0; */
}

.card-image{
    grid-area: image;
        background: url('image3.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover ;
}


.card-text {
    grid-area: text;
    margin: 25px
}
.card-text p{
    color: gray;
    font-size: 1rem;
    font-weight: 1000;
}
.card-text h2{
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 1000;
    border-bottom: 1px solid red;
}



.card-stats {
    grid-area: stats;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(173, 255, 180,0.9);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  padding:10px;
}

.card-stats .value {
    font-size:1.5rem;
}

.card:hover {
  transform: scale(1.1);
  border-color: rgba(224, 255, 49, 0.6);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
/* .card {
...
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
} */


@media screen and (max-width: 900px){

    .card{

    display:grid;

    grid-template-columns: 220px;
    grid-template-rows: 120px 150px 70px;
    grid-template-areas: "image" "text" "stats";
    overflow: hidden;


    font-family: roboto;
    border-radius: 18px;
    background-color: aliceblue;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition:0.5s ease;
    cursor: pointer;
    margin-bottom: 4rem;
}

.card:first-child{

    margin-top: 2rem;
}

.courses{

    width: 90%;
    /* grid-column: auto; */
    margin: 3rem auto;
      display: flex;
  flex-direction: column;


}



.card-image{
    grid-area: image;
        background: url('image3.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover ;
}


.card-text {
    grid-area: text;
    margin: 25px
}
.card-text p{
    color: gray;
    font-size: 0.7rem;
    font-weight: 1000;
}
.card-text h2{
    margin-top: 0px;
    font-size: 0.6rem;
    font-weight: 1000;
    border-bottom: 1px solid red;
}



.card-stats {
  grid-area: stats;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(173, 255, 180,0.9);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  padding:10px;
}

.card-stats .value {
    font-size:1.5rem;
}

}